.note-field {
    height: 100%;
    margin-top: 100px;
}

.read-block {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.field-content {
    display: flex;
    flex-direction: column;
    flex: 25;
    width: 50%;
    max-width: 500px;
    min-height: 400px;
    white-space: pre-wrap;
    line-break: anywhere;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9d9d9;
    padding: 10px;
}

.title-input {
    flex: 1;
}

.content-block {
    margin-bottom: 300px;
    overflow-y: auto;
}

.creation-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.content-input {
    flex: 100;
}

.save-button {
    width: 80px;
    background-color: #ff6969;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    height: 40px;
}

.save-button:active {
    background-color: gray;
}

.required-field-message {
    color: #a33636;
    font-size: 12px;
    margin-top: 4px;
}

.edit-button {
    flex: 1;
    min-height: 30px;
    width: 100px;
    margin-left: 90px;
    margin-bottom: 10px;
    background-color: #ff6969;
    border: none;
    border-radius: 3px;
    padding: 2px;
    color: white;
}

.edit-button:active {
    background-color: gray;
}
