.document-title {
    border-radius: 3px;
    width: auto;
    padding: 2px;
}
.document-title:hover {
    background-color: gray;
    cursor: pointer;
}

.document-control {
    display: flex;
}

.move {
    border-radius: 3px;
    width: fit-content;
    padding: 2px;
    justify-content: flex-end;
}

.document-control-item {
    flex: 1;
}

.title-block {
    display: flex;
}

.move:hover {
    background-color: gray;
    cursor: pointer;
}