.user-card-wrapper {
    display: flex;
    justify-content: center;
}

.upper-line {
    display: flex;
    justify-content: center;
}

.to-main-button {
    margin-top: 12px;
}

.primary-info-block {
    border: black solid 1px;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    background-color: #393939;
    color: white;
    width: 50%;
    min-width: 700px;
}

.additional-info-div {
    border: black solid 1px;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    background-color: #393939;
    color: white;
    width: 50%;
    min-width: 700px;
}