.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 190px;
    font-family: Tahoma, serif
}

.login-form-header {
    display: flex;
    height: 40px;
    background-color: #393939;
    color: white;
}


.header-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.header-label {
    flex: 1.1;
    margin: 10px;
}

.header-button>button {
    height: 25px;
    width: 60px;
    margin-top: 7px;
    background-color: #ff6969;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.login-form-header>button:active {
    background-color: grey;
}

.input-forms {
    display: flex;
    row-gap: 10px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4e4e4e;
    color: white;
    column-gap: 10px;
}

.input-field {
    width: 220px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: #d9d9d9;
    padding: 5px;
}

.login-block {
    display: flex;
    column-gap: 10px;
}

.required-field-message {
    color: #a33636;
    font-size: 12px;
    margin-top: 4px;
}

.labels {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-end;
}

.inputs {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.server-error-block {
    background-color: #e49e9e;
    color: #a33636;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.errors {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.auth-success {
    display: flex;
    width: 420px;
    height: 40px;
    background-color: #393939;
    color: white;
    font-family: Tahoma, serif;
}

.auth-success>button {
    height: 25px;
    width: 60px;
    margin-top: 7px;
    cursor: pointer;
    background-color: #4e4e4e;
    color: white;
    border: none;
    border-radius: 3px;
}

.auth-success>p {
    margin: 10px;
}

.auth-success>button:active {
    background-color: grey;
}
