.tab-list {
    display: flex;
    column-gap: 5px;
    margin-left: 5px;
}

.tabs-container {
    display: flex;
    column-gap: 5px;
}

.tab-control {
    border: black solid 1px;
    border-radius: 3px;
    padding: 2px;
    cursor: pointer;
}