.restore-password-page {
    width: 100vw;
    height: 100vh;
    background-color: #626262;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.restore-password-wrapper {
    margin-top: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #393939;
    padding: 10px;
    border-radius: 5px;
}

.restore-password {
    display: flex;
    column-gap: 10px;
}

.restore-password-labels {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.restore-password-input {
    height: 25px;
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.restore-password-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.restore-button {
    width: 150px;
}

.restore-password-button {
    display: flex;
    column-gap: 5px;
}

.restore-password-input-block {
    display: flex;
    column-gap: 3px;
}