.create-folder-form {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    row-gap: 3px;
    margin-top: 10px;
}

.create-form-input {
    height: 25px;
    padding: 3px;
    border-radius: 3px;
    border: none;
}

.create-folder-buttons {
    display: flex;
    column-gap: 10px;
}

.create-folder-button {
    height: 25px;
    padding: 3px;
    border: none;
    border-radius: 3px;
    background-color: #ff6969;
    color: white;
}

.create-folder-button:active {
    background-color: gray;
}

.required-field-message {
    color: #a33636;
    font-size: 12px;
    margin-top: 4px;
}
