.folder-tab {
    background-color: #4e4e4e;
    height: 100%;
}

.folder-wrapper {
    max-height: 80%;
    overflow-y: auto;
}

.create-folder {
    color: #626262;
    cursor: pointer;
    margin-left: 10px;
}
