.registration-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Tahoma, serif;
    row-gap: 15px;
    background-color: #c2c2c2;
    color: white;
    width: 100vw;
    height: 100vh;
}

.registration-form {
    display: flex;
    column-gap: 25px;
}

.registration-labels-block {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.registration-inputs-block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.additional-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 5px;
}

.additional-info-labels {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}

.additional-info-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.additional-info-block {
    display: flex;
    column-gap: 15px;
}

.registration-form-buttons {
    display: flex;
    width: 500px;
    column-gap: 15px;
}

.registration-form-wrapper {
    background-color: #393939;
    padding: 35px 15px 15px 55px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-self: center;
}

.registration-input {
    height: 25px;
    width: 300px;
    border: none;
    border-radius: 3px;
    padding: 4px;
}

.registration-button {
    height: 25px;
    width: 100px;
    margin-top: 7px;
    background-color: #ff6969;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.registration-button:active {
    background-color: grey;
}

.error-message {
    color: #a33636;
    font-size: 12px;
    margin-top: 4px;
}

.before-middle-name-block {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}

.after-middle-name-block {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}

.errors-block {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.input-block {
    display: flex;
column-gap: 5px;
}