.change-password-wrapper {
    font-family: Tahoma, serif;
    display: flex;
    flex-direction: column;
    width: 500px;
    border: black solid 1px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
    background-color: #393939;
    border-radius: 5px;
}

.change-password-info {
    display: flex;
    column-gap: 10px;
}

.change-password-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 12px;
}

.change-password-input {
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.change-password-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.change-password-buttons {
    display: flex;
    column-gap: 35px;
}

.change-password-input-block {
    display: flex;
}

.error-change-password-message {
    color: red;
}